spring:
  application:
    name: every-club
  datasource:
    url: jdbc:postgresql://localhost:5432/every-club
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

---

spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop

springdoc:

  api-docs:

    path: /v3/api-docs

  swagger-ui:

    path: /swagger-ui.html



jwt:

  secret: ${JWT_SECRET}

  expiration: 120
