spring:
  application:
    name: every-club
  datasource:
    url: jdbc:postgresql://localhost:5432/every-club
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

---

spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
  springdoc:
    api-docs:
      enabled: false
    swagger-ui:
      enabled: false
jwt:
  # Example secret for testing purposes only. Do not use in production!!!!
  # 중요하니까 두번 말한다
  # Example secret for testing purposes only. Do not use in production!!!!
  secret: ${JWT_SECRET:dGhpcy1pcy1hLXZlcnktbG9uZy1zZWNyZXQta2V5LWZvci10ZXN0aW5nLXB1cnBvc2VzLW9ubHktZG8tbm90LXVzZS1pbi1wcm9kdWN0aW9uISEhISEh}
  expiration: 120