name: Java CI with Gradle

# main 브랜치에 push되거나 Pull Request가 올라올 때 실행
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. 소스 코드 가져오기
      - uses: actions/checkout@v4

      # 2. JDK 17 설정
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      # 3. Gradle 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Test and JaCoCo Coverage Verification
        run: ./gradlew test jacocoTestCoverageVerification